#abstract {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0 18em 0;
    .flex {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        .left {
            flex: 1;
            text-align: center;
            img {
                box-shadow: -10px 10px 30px rgba(#000000, 0.5);
            }
        }
        .right {
            flex: 1;
            h1 {
                font-family: 'DM Serif Display', serif;
                font-size: 48px;
                color: #B76A53;
            }
            p {
                color: #0B322B;
                text-align: justify;
                font-size: 16px;
                letter-spacing: 0.6px;
                line-height: 1.2em;
                width: 500px;
            }

        }
    }
}
