#nav {
    width: 100%;
    margin-right: 2vw;
    height: 8vh;
    top: 0;
    padding-right: 1rem;
    z-index: 10;
    transition: 0.3s;
    background-color: #333;
    box-shadow: 1px 2px 15px #00000052;
}
