@import '../../style/utility/var';

#nav {
    width: 100%;
    margin-right: 2vw;
    height: 8vh;
    top: 0;
    padding-right: 1rem;
    z-index: 10;
    transition: 0.3s;
    background-color: #333;
    box-shadow: 1px 2px 15px #00000052;
}

#project-nav {
    padding: 0 10%;
    margin-top: 5%;
    z-index: 11;
    transition: 0.3s;

    .navbar-brand {
        img {
            vertical-align: sub;
            width: 45px;

            @include md {
                width: 35px;
            }

            @include sm {
                width: 35px;
            }
        }

        .logo-content {
            display: inline-block;
            line-height: 1em;
            color: #144992;
            margin-left: 5px;
            font-size: $title-face;

            @include md {
                font-size: $title-face * 0.7;
            }

            @include sm {
                font-size: $title-face * 0.7;
            }
        }
    }

    ul {
        text-decoration: none;
        list-style: none;
        margin-bottom: 0;

        a {
            color: #144992;
            font-family: 'Alata', sans-serif;
            transition: 0.5s;
            font-size: $title-face;

            @include md {
                font-size: $title-face * 0.8;
            }

            @include sm {
                font-size: $title-face * 0.8;
            }

            &:hover {
                background-color: #89a3ff;
            }
        }
    }
}
