#video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 8em 0;
    h1 {
        width: 50%;
        line-height: 1em;
        font-family: 'DM Serif Display', serif;
        font-size: 48px;
        color: #B76A53;
    }
    .video-block {
        flex: 100%;
        text-align: center;
        top: -10%;
        iframe {
            width: calc(1920px / 2.5);
            height: calc(1080px / 2.5);
        }
    }
}
